**/node_modules
**/__pycache__
**/.venv
**/.logs
**/.pytest_cache
**/.mypy_cache
**/dist
**/.DS_Store
.git
.github
.cursor
*.log
postgres/migrations/*.bak
definitions/
definitions-emitted/
docs/
tests/
LEGACY/
