    def upgrade(self) -> {{ gw1_tank_temp_calibration_001_class_name }}:
        """
        - Depth{1,2,3}B: number -> integer (offset in the OutputUnit/FahrenheitX100 scaling
          domain, mirroring linear.one.dimensional.calibration/001)
        """
        data = self.model_dump()
        data["depth1_b"] = round(self.depth1_b * 100)
        data["depth2_b"] = round(self.depth2_b * 100)
        data["depth3_b"] = round(self.depth3_b * 100)
        data["version"] = "001"
        return {{ gw1_tank_temp_calibration_001_class_name }}.model_validate(data)
