    def upgrade(self) -> {{ layout_lite_010_class_name }}:
        """
        - ShNodes[]: spaceheat.node.gt:300 -> 300 | 301
        - I2cRelayComponent: required -> optional
        """
        data = self.model_dump()
        data["version"] = "010"
        return {{ layout_lite_010_class_name }}.model_validate(data)
