    def upgrade(self) -> {{ pico_tank_module_component_gt_010_class_name }}:
        """
        - SensorOrder: add as optional
        - PicoKOhms: required -> optional
        """
        data = self.model_dump()
        data["version"] = "010"
        return {{ pico_tank_module_component_gt_010_class_name }}.model_validate(data)
