    def upgrade(self) -> {{ scada_control_capabilities_002_class_name }}:
        """
        - RelayNodes[]: spaceheat.node.gt:300 -> 303
        - DacNodes[]: spaceheat.node.gt:300 -> 303
        - ControlChannels[]: data.channel.gt:001 -> 003
        """
        data = self.model_dump()

        def lift_node(node: SemaType) -> {{ spaceheat_node_gt_303_class_name }}:
            current: SemaType = node
            while not isinstance(current, {{ spaceheat_node_gt_303_class_name }}):
                current = current.upgrade()
            return current

        def lift_channel(channel: SemaType) -> {{ data_channel_gt_003_class_name }}:
            current: SemaType = channel
            while not isinstance(current, {{ data_channel_gt_003_class_name }}):
                current = current.upgrade()
            return current

        data["relay_nodes"] = [lift_node(n) for n in self.relay_nodes]
        data["dac_nodes"] = [lift_node(n) for n in self.dac_nodes]
        data["control_channels"] = [lift_channel(c) for c in self.control_channels]
        data["version"] = "002"
        return {{ scada_control_capabilities_002_class_name }}.model_validate(data)
