    @model_validator(mode="after")
    def check_axiom_1(self) -> "{{ data_channel_gt_003_class_name }}":
        """
        Axiom 1: TelemetryQuantityConsistency
        Quantity SHALL equal the Quantity defined by the canonical
        spaceheat.telemetry.quantity.projection/000 instance for the specified
        TelemetryName.
        """
        try:
            {{ spaceheat_telemetry_quantity_projection_000_class_name }}(
                telemetry_name=self.telemetry_name,
                quantity=self.quantity,
            )
        except ValidationError as e:
            raise ValueError(
                "Axiom 1 failed: quantity is inconsistent with telemetry_name."
            ) from e
        return self
