    @model_validator(mode="after")
    def check_axiom_1(self) -> Self:
        """
        Axiom 1: ToHandleIsBoss
        ToHandle SHALL be the immediate boss of FromHandle (FromHandle with its last
        dot-segment removed).
        """
        boss = ".".join(self.from_handle.split(".")[:-1])
        if boss != self.to_handle:
            raise ValueError(
                f"Axiom 1 violated! ToHandle {self.to_handle} is not the "
                f"immediate boss of FromHandle {self.from_handle}."
            )
        return self
