    @model_validator(mode="after")
    def check_axiom_1(self) -> "{{ gw_weather_forecast_entry_000_class_name }}":
        """
        Axiom 1: NonEmptyValues
        Values SHALL be non-empty.
        """
        if len(self.values) == 0:
            raise ValueError(
                "Axiom 1 (NonEmptyValues) failed: Values must be non-empty."
            )
        return self
