    @model_validator(mode="after")
    def check_axiom_1(self) -> "{{ report_event_000_class_name }}":
        """
        Axiom 1: ReportIdentityPropagation
        MessageId SHALL equal Report.Id.
        """
        if self.message_id != self.report.id:
            raise ValueError("Axiom 1 failed: message_id must equal report.id.")
        return self

    @model_validator(mode="after")
    def check_axiom_2(self) -> "{{ report_event_000_class_name }}":
        """
        Axiom 2: ReportCreatedTimePropagation
        TimeCreatedMs SHALL equal Report.MessageCreatedMs.
        """
        if self.time_created_ms != self.report.message_created_ms:
            raise ValueError(
                "Axiom 2 failed: time_created_ms must equal report.message_created_ms."
            )
        return self

    @model_validator(mode="after")
    def check_axiom_3(self) -> "{{ report_event_000_class_name }}":
        """
        Axiom 3: ReportSourcePropagation
        Src SHALL equal Report.FromGNodeAlias.
        """
        if self.src != self.report.from_g_node_alias:
            raise ValueError("Axiom 3 failed: src must equal report.from_g_node_alias.")
        return self
